USE [CancerReporting]
GO
/****** Object:  Table [Lookup].[IPTType]    Script Date: 03/09/2020 23:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lookup].[IPTType](
	[IPTTypeID] [int] NULL,
	[IPTTypeDesc] [varchar](255) NULL
) ON [PRIMARY]
GO
